<div class="input_content">
  <%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
    <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
        <ul>

          <% @blog.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="tweet_title">
      <%= form.label :content, "本文：", class: "tweet_title_label" %>
      <%= form.text_field :content, class: "tweet_title_text" %>
    </div>
    <%= form.submit "投稿します", class: "btn" %>
  <% end %>
</div>
